<template>
  <div style="min-height:540">
    <div class="transaction_list">
      <header>
        <!-- <div :class="{'act':form.type === 1}" @click="typeChoose(1)">充值</div>
        <div :class="{'act':form.type === 2}" @click="typeChoose(2)">提现</div> -->
        <div class="selection">
          <el-select
            style="width:100%;height:100%;position:relative;top:-4px"
            v-model="form.dateType"
            size="mini"
            placeholder="请选择日期"
            @change="dateTypeChange"
          >
            <el-option label="近一周" value="1"></el-option>
            <el-option label="近一个月" value="2"></el-option>
            <el-option label="近一年" value="3"></el-option>
            <el-option label="所有日期" value="4"></el-option>
          </el-select>
        </div>
        <div class="selection">
          <el-select
            style="width:100%;height:100%;position:relative;top:-4px"
            size="mini"
            v-model="form.platform"
            placeholder="请选择充值平台"
            @change="platformChange"
          >
            <el-option label="在线微信" value="2"></el-option>
            <el-option label="在线支付宝" value="1"></el-option>
            <el-option label="在线银行卡" value="3"></el-option>
            <el-option label="线下微信" value="5"></el-option>
            <el-option label="线下支付宝" value="4"></el-option>
            <el-option label="线下银行卡" value="6"></el-option>
            <el-option label="所有平台" value=""></el-option>
          </el-select>
        </div>
        <div class="selection">
          <el-select
            style="width:100%;height:100%;position:relative;top:-4px"
            size="mini"
            placeholder="请选择状态"
            v-model="form.recdStatus"
            @change="statusChange"
          >
            <el-option label="所有状态" value=''></el-option>
            <el-option label="成功" value='1'></el-option>
            <el-option label="失败" value='0'></el-option>
            <el-option label="处理中" value='2'></el-option>
            <el-option label="交易超时" value='3'></el-option>

          </el-select>
        </div>
      </header>
      <div class="listData">
        <el-table 
            :data="tableData" 
            stripe 
            style="width: 100%" 
            :cell-style="cellRowClass"
            :header-cell-style="headerRowClass"
            v-loading="loading"
            >
          <el-table-column align="center" label="时间" >
            <template slot-scope="scope">
              {{scope.row.createTime | convertTime}}
            </template>
          </el-table-column>
          <el-table-column align="center" prop="amount" :label="`${type == 1 ? '充值' : '提现'}金额`" ></el-table-column>
          <el-table-column align="center" prop="platform" label="交易平台" >
              <template slot-scope="scope">
                  <span v-if="scope.row.platform == 1">支付宝</span>
                  <span v-if="scope.row.platform == 2">微信</span>
                  <span v-if="scope.row.platform == 3">银行卡</span>
                  <span v-if="scope.row.platform == 4">线下支付宝</span>
                  <span v-if="scope.row.platform == 5">线下微信</span>
                  <span v-if="scope.row.platform == 6">线下银行卡</span>
              </template>
          </el-table-column>
          <el-table-column align="center" prop="recdStatus" label="状态" >
              <template slot-scope="scope">
                  <span v-if="scope.row.recdStatus == 1">成功</span>
                  <span v-if="scope.row.recdStatus == 2">处理中</span>
                  <span v-if="scope.row.recdStatus == 3">交易超时</span>
                  <span v-if="scope.row.recdStatus == 0">失败</span>
              </template>
          </el-table-column>
        </el-table>
        <el-pagination 
            v-if="total > 0"
            layout="prev, pager, next" 
            :total="total" 
            prev-text="上一页" 
            next-text="下一页" 
            :page-size="10"
            @current-change="handleCurrentChange"
            ></el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props:['type'],
  name: "cashHistory",
  data: function() {
    return {
      form: {
        dateType: '4',
        recdStatus:'',
        platform:'',
        curPage:1,
        pageSize:10
      },
      tableData: [],
      total:0,
      loading:false
    };
  },
  watch:{
    type(){
      this.getList()
    }
  },
  methods: {
    getList() {
      this.loading = true
      this.$http.get(this.$api.transactionList, Object.assign({type:this.type}, this.form)).then(res => {
        this.tableData = res.pages.list;
        this.tableData.sort((a, b) => b.createTime - a.createTime)
        this.total = res.pages.total;
      }).finally(() => {
        this.loading = false
      });
    },
    cellRowClass({row, column, rowIndex, columnIndex}){
        return 'padding:5px 0;font-size:12px;color:#333';
    },
    headerRowClass({row, column, rowIndex, columnIndex}){
        return 'padding:5px 0;background:#9e9e9e38;font-size:14px;color:#333;border-right:1px solid #ddd;border-left:1px solid #ddd;';
    },
    handleCurrentChange(val){
        this.form.curPage = val;
        this.getList()
    },
    dateTypeChange(){
        this.initPage()
        this.getList()
    },
    statusChange(status){
      this.initPage()
      this.getList()
    },
    platformChange(platform){
      this.initPage()
      this.getList()
    },
    initPage(){
      this.form.curPage = 1
    }

  },
  activated(){
      this.getList()
  },
  
};
</script>

<style scoped lang="less">
.transaction_list {
  display: flex;
  flex-direction: column;
  height: 100%;
  header {
    height: 54px;
    width: 100%;
    padding-top: 18px;
    background: #fafafa;
    box-sizing: border-box;
    overflow: hidden;
    div {
      display: inline-block;
      width: 100px;
      height: 36px;
      font-size: 16px;
      text-align: center;
      line-height: 36px;
      color: #595959;
      box-sizing: border-box;
      transition: all 0.5s;
      cursor: pointer;
      &.act {
        color: #ff810e;
        border-bottom: 3px solid #ff810e;
      }
    }
    .selection {
      float: right;
      display: inline-block;
      width: 146px;
      height: 30px;
      margin-right: 20px;
      margin-bottom: 6px;
    }
  }
  .listData {
    flex: 1;
    height: 100%;
    margin-top: 10px;
    .transactionHeader{
        background: #000;
    }
  }
}

</style>