<template>
  <div>
    <div class="center">
      <div class="headerNav">
        <ul :class="[`func${func}`]">
          <li v-if="func==='1'" :class="{'selected':type === 0}" @click="tab(0)">在线充值</li>
          <li v-if="func==='1'" :class="{'selected':type === 1}" @click="tab(1)">线下充值</li>
          <li v-if="func==='2'" :class="{'selected':type === 2}" @click="tab(2)">提现</li>
          <li v-if="func==='1'" :class="{'selected':type === 3}" @click="tab(3)">充值历史查询</li>
          <li v-if="func==='2'" :class="{'selected':type === 3}" @click="tab(3)">提现历史查询</li>
        </ul>
      </div>
      <div class="main">
        <keep-alive>
          <online-recharge v-if="type === 0"></online-recharge>
          <Recharge v-if="type === 1"></Recharge>
          <Withdraw v-if="type === 2"></Withdraw>
          <History v-if="type === 3" :type="func"></History>
        </keep-alive>
      </div>
    </div>
  </div>
</template>

<script>
import Recharge from "./recharge";
import Withdraw from "./withdraw";
import History from "./history";
import OnlineRecharge from "./onlineRecharge"

export default {
  components: {
    Recharge,
    Withdraw,
    History,
    OnlineRecharge
  },
  data() {
    return {
      type: 0
    };
  },
  computed:{
    func(){
      return this.$route.query.type
    }
  },
  watch:{
    func(val){
       this.type = Number(val) === 1?0:2
    }
  },
  methods: {
    tab(type) {
      this.type = type;
    }
  }
};
</script>

<style lang='less' scoped>
.center {
  width: 80%;
  min-width: 420px;
  min-height: 580px;
  background: #fff;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  .headerNav {
    height: 40px;
    ul {
      height: 100%;
      width: 100%;
      overflow: hidden;
      &.func1{
        li{
          width: 33.3%
        }
      }
      &.func2{
        li{
          width: 50%
        }
      }
      li {
        width: 25%;
        height: 100%;
        border-bottom: 4px solid #666666;
        background: #333;
        float: left;
        box-sizing: border-box;
        font-size: 16px;
        color: #fff;
        text-align: center;
        line-height: 36px;
        cursor: pointer;
        &:nth-child(2) {
          border-right: 1px solid #ccc;
          border-left: 1px solid #ccc;
        }
        &:nth-child(3) {
          border-right: 1px solid #ccc;
        }
        &.selected {
          background: #616161;
          border-bottom: 4px solid #949494;
        }
      }
    }
  }
  .main {
    flex: 1;
  }
}
</style>