<template>
    <el-form class="form_holder" ref="form" :model="form" label-width="120px" :rules="rules">
        <el-form-item label="交易金额：" prop="amount">
            <el-input type="number" v-model="form.amount"></el-input>
        </el-form-item>
        <el-form-item label="充值平台：">
            <el-radio-group v-model="form.platform" text-color="#FF8E01" fill="#FF8E01">
                <el-radio v-for="item in platforms" border :disabled="!item.enabled" :key="item.value" :label="item.value">{{item.name}}</el-radio>
            </el-radio-group>
        </el-form-item>
      <el-form-item>
        <el-button @click="submit" size="small" :loading="loading" type="primary" style="width:100%;background:rgb(255, 142, 1);border-color:rgb(255, 142, 1)">提交</el-button>
      </el-form-item>
    </el-form>
</template>
<script>
export default {
    data(){
        var validateAmount = (rule, value, callback) => {
            if(Number.isNaN(Number(value))){
                return callback(new Error("请输入一个合法的数值"))
            }
            if (value <100 || value > 5000) {
                return callback(new Error('充值金额必须在￥100~￥5000之间'));
            }else{
                callback()
            }
        }
        return {
            loading:false,
            form:{
                amount:0,
                platform:1
            },
            platforms:[{
                name:"微信",
                value:2,
                enabled:false
            },{
                name:"支付宝",
                value:1,
                enabled:true
            },{
                name:"银行卡",
                value:3,
                enabled:false
            }],
            rules:{
                amount:[
                    {required:true,message:"请输入充值金额", trigger:"blur"},
                    {validator:validateAmount, trigger:"blur"},
                ]
            }
        }
    },
    methods:{
        submit(){
            this.$refs.form.validate(valid => {
                if(valid){
                    const token = localStorage.fbd_usr_token
                    if(!token){
                        this.$message.error("请先登陆！")
                    }else{
                        this.doCharge(this.form.amount, this.form.platform, token)
                    }
                }
            })
        },
        doCharge(amount, platform, token){
            const obj = {
                amount,
                platform,
                type:1
            }
            this.loading = true
            this.$http.post(this.$api.charge, obj, {
                headers:{token},
                toQs:false
            }).then(res => {
                const url = res.payUrl
                this.$confirm("请点击立即支付进行支付操作！", "订单已提交！",{
                    confirmButtonText:"立即支付",
                    cancelButtonText:"支付完成",
                    type:"success",
                    center:true,
                    customClass:"confirm"
                }).then(() => {
                    window.open(url)
                }).catch(err => {
                    this.$parent.tab(3)
                })
                this.form.amount = 0
            }).finally(() => {
                this.loading = false
            })
        }
    }    
}
</script>
<style lang="less" scoped>
.form_holder{
    width: 420px;
    margin: 0 auto;
    padding-top: 30px;
}
</style>
<style lang="less">
.confirm{
    margin-top:-200px;
}
</style>


