<template>
  <div class="form_holder">
    <el-form
      :model="form"
      label-width="130px"
      :rules="rules"
      ref="form"
    >
      <el-form-item label="手机号码：" prop="phone">
        <el-input v-model="form.phone" type="tel" placeholder="请输入手机号码"></el-input>
      </el-form-item>
      <el-form-item label="交易金额：" prop="amount">
        <el-input type="text" v-model.number="form.amount"></el-input>
      </el-form-item>
      <!-- <el-form-item label="充值账号：">
        <el-input type="text" v-model="form.desc"></el-input>
      </el-form-item> -->
      <el-form-item label="线下充值类型：" prop="platformType">
        <el-select v-model="form.platformType" placeholder="请选择类型">
            <!-- <el-option label="支付宝" value="1"></el-option>
            <el-option label="微信" value="2"></el-option>
            <el-option label="银行卡" value="3"></el-option> -->
            <el-option label="线下支付宝" value="4"></el-option>
            <el-option label="线下微信" value="5"></el-option>
            <el-option label="线下银行卡" value="6"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="交易单号：" prop="thirdPartyId">
        <el-input type="text" v-model="form.thirdPartyId"></el-input>
      </el-form-item>
      <!-- <el-form-item label="收款账户：">
        <el-input type="text" v-model="form.account"></el-input>
      </el-form-item> -->
      <el-form-item label="交易凭证上传：" prop="snapshot">
        <el-upload
            :action="uploadUrl"
            :on-remove="handleRemove"
            list-type="picture"
            :headers="header"
            :limit="1"
            :on-success="fileSuccessUpload"
            ref="fileUpload"
            >
            <el-button size="small" type="primary" @click="uploadBtn" style="background:rgb(255, 142, 1);border-color:rgb(255, 142, 1)">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png/jep/svg等图片文件</div>
        </el-upload>
      </el-form-item>
      <el-form-item label="备注：" prop="userRemark">
        <el-input type="textarea" v-model="form.userRemark"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="submit" size="small" :loading="loading" type="primary" style="width:100%;background:rgb(255, 142, 1);border-color:rgb(255, 142, 1)">提交</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "recharge",
  data: function() {
    return {
        form:{
            phone:'',
            amount:'',
            platformType:'',
            thirdPartyId:'',
            snapshot:'',
            userRemark:'',
            account:"",
        },
        uploadUrl:'',
        picUrl:'',
        header:{
            token:''
        },
        loading:false,
        rules:{
          phone:[
            {required:true, message:"请输入手机号码", trigger:"blur"},
            {validator:(rule, value, callback) => {
              if(!/1\d{10}/.test(value)){
                return callback(new Error("请输入11位手机号码"))
              }
              callback()
            }, trigger:"blur"},
          ],
          amount:[
            {required:true, message:"请输入充值金额!", trigger:"blur"},
            {type:'number', message:"请输入正确的数值!", trigger:"blur"},
            {validator:(rule, value, callback) => {
              if(value < 0.01){
                return callback(new Error("充值金额不能低于0.02元"))
              }
              const str = value.toString()
              const ary = str.split('.')
              if(str[1]&&str[1].length >2){
                return callback(new Error("充值金额最多保留两位小数"))
              }
              callback()
            }, trigger:"blur"}
          ],
          platformType:[
            {required:true, message:"请选择充值平台", trigger:"blur"},
          ],
          thirdPartyId:[
            {required:true, message:"请输入订单号", trigger:"blur"}
          ],
          snapshot:[
            {required:true, message:"请上传交易凭证", trigger:"blue"}
          ]

        }
    };
  },
  computed:{
    phone(){
      return this.form.phone
    }
  },
  watch:{
    // phone(val){
    //   console.log(this.form.phone)
    //   this.form.phone = val.replace(/[^\d]/, '')
    //   console.log(this.form.phone)
    //   console.log(this.form)
    // }
  },
  methods: {
    submit() {
      this.$refs.form.validate(valid => {
        if(valid){
          this.form.snapshot = this.picUrl;
          this.loading = true;
          this.$http.post(this.$api.recharge,this.form,{toQs:false}).then(res=>{
          this.loading = false;
            this.$notify({
                  title: "提示",
                  message: `提交成功`,
                  type: "success"
              });
              for (const key in this.form) {
                this.form[key] = '';
              }
              this.picUrl = '';
              this.$refs.fileUpload.clearFiles();
          }).catch(err=>{
            this.loading = false;
          })
        }

      })

    },
    handleRemove(file, fileList) {
        this.picUrl = '';
    },
    fileSuccessUpload(response, file, fileList) {
        //上传成功后的路径
        if(response.code === - 40004){
          this.$notify({
                title: "提示",
                message: `您必须要先登录才能上传图片`,
                type: "error"
            });
            this.$refs.fileUpload.clearFiles();
        }
        if(response.code === 200){
          this.picUrl = response.result;
          this.form.snapshot = response.result
        }
    },
    uploadBtn(){
      this.header.token = localStorage['fbd_usr_token'] || '';
    },
  },
  mounted() {
    this.uploadUrl = SERVER_PATH + this.$api.uploadsnapshot;
  }
};
</script>

<style lang="less">
.form_holder{
    width: 420px;
    margin: 0 auto;
    padding-top: 30px;
}

</style>