<template>
    <div class="form_holder">
        <el-form
      :model="form"
      label-width="120px"
    >
      <el-form-item label="提现金额：">
        <el-input type="text" v-model="form.amount"></el-input>
      </el-form-item>
      <el-form-item label="提现平台：">
        <el-select v-model="form.withdrawType" placeholder="请选择类型">
            <el-option label="线下支付宝" value="4"></el-option>
            <el-option label="线下微信" value="5"></el-option>
            <el-option label="线下银行卡" value="6"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="收款账号：">
        <el-input type="text" v-model="form.withdrawAccount"></el-input>
      </el-form-item>
      <el-form-item label="备注：">
        <el-input type="textarea" v-model="form.userRemark" placeholder="请填写开户人姓名，开户行信息"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="submit" size="small" :loading="loading" type="primary" style="width:100%;background:rgb(255, 142, 1);border-color:rgb(255, 142, 1)">提交</el-button>
      </el-form-item>
    </el-form>
    </div>
</template>

<script>
export default {
    name: 'withdraw',
    data: function() {	
        return {
        form:{
            amount:'',
            withdrawType:'',
            withdrawAccount:'',
            userRemark:''
        },
        loading:false,
        }
    },
    methods: {
        submit(){
            if(!this.form.amount || !this.form.withdrawAccount || !this.form.userRemark){
            this.$notify({
                    title: "提示",
                    message: `不能为空，请输入`,
                    type: "error"
                });
                return;
            }
            if(!this.form.withdrawType){
                this.$notify({
                    title: "提示",
                    message: `请选择平台类型`,
                    type: "error"
                });
                return;
            }
            if(this.form.amount < 0.01 || this.form.amount > 10000){
            this.$notify({
                    title: "提示",
                    message: `提现金额最低为0.01元，最高为10000元`,
                    type: "error"
                });
                return;
            }
            this.loading = true;
            this.$http.post(this.$api.withdraw,this.form,{toQs:false}).then(res=>{
                this.loading = false;
                this.$notify({
                    title: "提示",
                    message: `提交成功`,
                    type: "success"
                });
                for (const key in this.form) {
                    this.form[key] = '';
                }
            }).catch(err=>{
            this.loading = false;

            })
        }
    }
}
</script>

<style scoped>
.form_holder{
    width: 420px;
    margin: 0 auto;
    padding-top: 30px;
}
</style>