*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
header{
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    height: 90px;
    background-color: #1E1E1E;
    border-bottom: solid 3px #FFB80C;
    /* z-index: 9; */
}
header > div.header__content{
    width: 1180px;
    height: 87px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > div.header__content img.logo{
    width: 160px;
    height: 60px;
}
header div.nav__container{
    width: 911px;
    height: 100%;
    display: flex;
    justify-content: flex-end;

}
header div.nav__container > .title{
    color: #FFB80C;
    font-size: 20px;
    line-height: 87px;
    font-weight: 600;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}
header div.nav__container > nav{
    height: 87px;
}
header div.nav__container > nav > a{
    display: inline-block;
    width: 112px;
    height: 100%;
    line-height: 87px;
    text-align: center;
    box-shadow:2px 0px 0px 0px rgba(143,143,143,0.14), -1px 0px 0px 0px rgba(0, 0, 0, 1);
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s linear;
}
header div.nav__container > nav > a:hover{
    background-color: #FFB80C;
}
header div.nav__container > nav > a:nth-child(1){background-image: url('../imgs/创新技术.png');}
header div.nav__container > nav > a:nth-child(2){background-image: url('../imgs/长期成功.png');}
header div.nav__container > nav > a:nth-child(3){background-image: url('../imgs/经验丰富.png');}
header div.nav__container > nav > a:nth-child(4){background-image: url('../imgs/投资优势.png');}
header div.nav__container > nav > a:nth-child(5){background-image: url('../imgs/投资计划.png');}
header div.nav__container > nav > a:nth-child(6){background-image: url('../imgs/常见问题.png');}

header div.nav__container > nav > a:nth-child(1):hover{background-image: url('../imgs/创新技术1.png');}
header div.nav__container > nav > a:nth-child(2):hover{background-image: url('../imgs/长期成功1.png');}
header div.nav__container > nav > a:nth-child(3):hover{background-image: url('../imgs/经验丰富1.png');}
header div.nav__container > nav > a:nth-child(4):hover{background-image: url('../imgs/投资优势1.png');}
header div.nav__container > nav > a:nth-child(5):hover{background-image: url('../imgs/投资计划1.png');}
header div.nav__container > nav > a:nth-child(6):hover{background-image: url('../imgs/常见问题1.png');}

div.container{
    /* margin-top: 90px; */
    width: 100%;
    position: relative;
}
div.container > section{
    position: relative;
}
div.container > section > div.content__wrap{
    width: 1180px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
div.container> section#banner{
    height: 260px;
    background-image: url(../imgs/组83.png);
    background-repeat: no-repeat;
    background-size: cover;
}
div.container> section#banner .banner__infos{
    width: 454px;
    height: 174px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 60px;
}
div.container> section#banner .banner__info__left{
    width: 280px;
    height: 100%;
    background-color: rgba(30, 30, 30, .8);
    text-align: center;
    color: #FFF;
    font-size: 20px;
    padding: 20px 0;
}
div.container> section#banner .banner__info__left p:nth-child(2){
    font-size: 72px;
    color:#FFB80C;
    font-weight: bold;
}
div.container> section#banner .banner__info__right{
    width: 174px;
    height: 100%;
    background-color: #FFB80C;
    color: #1E1E1E;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

div.container > section#intro{
    height: 180px;
    background-color: #1E1E1E;
    color: #FFF;
    padding: 25px;
}
div.container > section#intro h3{
    text-align: center;
    font-size: 22px;
    font-family: 微软雅黑;
    font-weight:400;
    margin-bottom: 20px;
}
div.container > section#intro h3 > span{
    color:#FFB80C;
}
div.container > section#intro p{
    font-size: 12px;
    margin-top: 10px;
    text-indent: 2.5em;
}

div.container > section.section{
    background-color: #404040
}
div.container > section.section__odd{
    background-color: #1E1E1E;
}
div.container > section.section__odd .content__wrap{
    flex-direction: row-reverse;
}
div.container > section.section .content__wrap{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
div.container > section.section p {
    color: #FFF;
    font-size: 12px;
    margin-bottom: 10px;
}
div.container > section.section p.red{
    color: red
}
div.container > section.section .content__left{
    width: 450px;
    padding: 40px 0;
}
div.container > section.section .content__left img{
    margin-bottom: 28px;
}
div.container > section.section .content__right{
    display: flex;
    align-items: center;
}
div.container > section#section_1{
    height: 280px;
}
div.container > section#section_2{
    height: 300px;
}
div.container > section#section_3{
    height: 300px;
}
div.container > section#section_4{
    height: 330px;
}

div.container > section#plans{
    height: 330px;
    background-color: #404040;
}
div.container > section#plans div.content__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center
}
div.container > section#plans .plan{
    box-sizing: content-box;
    border:solid 1px transparent;
    width: 366px;
    height: 258px;
    position: relative;
}
div.container > section#plans .plan .info{
    height: 206px;
    background-image: url(../imgs/没选中.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px 25px;
    color: #FFF;
}
div.container > section#plans .plan:hover .info{
    background-image: url(../imgs/选中.png);
   
}
div.container > section#plans .plan p{
    font-size: 14px;
    line-height: 30px
}
div.container > section#plans .plan p.title{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
div.container > section#plans .planA p.title{
    color: #A6FF0C
}
div.container > section#plans .planB p.title{
    color: #FFB80C
}
div.container > section#plans .planC p.title{
    color: #FF560C
}
div.container > section#plans .planA:hover{
    border-color: #A6FF0C
}
div.container > section#plans .planB:hover{
    border-color: #FFB80C
}
div.container > section#plans .planC:hover{
    border-color: #FF560C
}

div.container > section#problems{

    background-color: #1e1e1e;
    overflow: hidden;
    padding-bottom: 100px;
}
div.container > section#problems img.header_title{
    margin: 40px auto 20px auto;
    display: block;
}
div.container > section#problems img.report{
    margin: 30px auto;
    display: block;

}
div.container > section#problems p{
    font-size: 14px;
    color: #FFF;
}
div.container > section#problems p.title{
    margin: 10px 0;
}


footer{
    position: relative;
    width: 100%;
    height: 266px;
    padding: 0;
    text-align: center;
}
 footer a{
    color: #FFF;
    margin: 0 12px;
    transition: color .2s linear;
    text-decoration: none
}
footer a:hover{
    color: #AAA;
}
footer .top{
    width: 100%;
    height: 50px;
    background-color: #FFB80C;
    font-size: 12px;
    color: #1E1E1E;
    line-height: 50px;
}
footer .top a{
    color: #1e1e1e
}
footer .middle{
    width: 100%;
    height: 65px;
    border-bottom: dashed 1px #CCC;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #333;
}
footer .bottom{
    overflow: hidden;
    width: 100%;
    height: 151px;
    color:#FFF;
    background-color: #333;
}
footer .bottom  div.links{
    margin-top:25px;
}
footer div.logo{
    width:113px;
    height:43px;
    margin:30px auto 0 auto;
    background-image:url('../assets/images/cai-bao.png');
    background-size:contain;
}