html,
body {
  font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 12px;
  background-color: #fafafa;
}
li {
  font-weight: normal;
}
.el-input__inner {
  padding: 0 12px !important;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: #666 !important;
}
.listData .el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #ddd;
}

.el-pagination {
  text-align: center;
  margin: 20px 0;
}
.el-pager li {
  min-width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  margin: 0 3px !important;
  background: none !important;
}
.el-pager li.active {
  border-radius: 50%;
  background: #ff810e !important;
  color: #fff !important;
}
.el-pager li:hover {
  color: #ff810e !important;
}
.el-pagination button:hover {
  color: #ff810e !important;
}
.el-pagination button,
.el-pagination span:not([class*="suffix"]) {
  min-width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}

.el-pagination .btn-next, .el-pagination .btn-prev{
  background: none !important;
}
.el-menu-item.is-active{
  color: #333!important;
  font-weight: bold;
  margin-left: 15px;
}