<template>
    <div class="betlist">
        <div class="betlist__label" @click="showList = !showList">
            投注单({{orderNum}})
        </div>
        <div :class="['betlist__body', showList?'betlist__body--show':'']" v-loading="loading">
            <!-- <div class="betlist__body__mask" @click="showList = false"></div> -->
            <div class="betlist__body__datas">
                <p class="empty__tips" v-show="betList.length === 0">投注单是空的！</p>
                <div class="betlist__data" v-for="item in betList" :key="item.raceId">
                    <div class="betlist__data__label">
                        <p class="teaminfo">{{item.homeTeam}} VS {{item.visitTeam}}</p>
                        <p class="datetime">{{item.startTime|convertTime}}</p>
                    </div>
                    <ul class="betlist__data__items">
                        <li :class="['betlist__data__item', tips.hasOwnProperty(result.rebateId)?'betlist__data__item__error':'']" v-for="result in item.list" :key="result.rebateId">
                            <!-- <el-tooltip class="item" :disabled="!tips.hasOwnProperty(result.rebateId)" effect="dark" :content="tips[result.rebateId]" placement="left"> -->
                            <div class="score">
                                <p>{{result.score}}</p>
                                <p>{{result.type === 1?"全场波胆":"半场波胆"}}</p>
                            </div>
                            <!-- </el-tooltip> -->
                            <p class="ratio">{{result.ratio|toPercentage}}</p>
                            <div class="amount">
                                <input type="number" name="" min="100" max="10000" @keydown="delete tips[result.rebateId]" @blur="testAmount(result.amount)" v-model="result.amount" id="">
                                <p>预期收益:￥{{(result.amount*result.ratio).toFixed(2)}}</p>
                            </div>
                            <div class="delete">
                                <button @click="removeOrder(item.raceId, result.rebateId)"></button>
                            </div>
                            <p class="tips">{{tips[result.rebateId]}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="betlist__body__amount" v-show="betList.length > 0">
                总投注：<span>￥{{amount}}</span>
                <br>
                手续费：<span>￥{{(amount*0.05).toFixed(2)}}</span>
                <br>
                预期总收益：<span>￥{{preAmount}}</span>
            </div>
            <div class="betlist__body__btns" v-show="betList.length > 0">
                <button :class="[betList.length>0?'active':'']" @click="clearList">清空</button>
                <button :class="[betList.length === 0?'disabled':'']" @click="confirmSubmit">确认投注</button>
            </div>
            <div :class="['betlist__body__success', showSuccess?'betlist__body__success--show':'']">
                <img src="../../assets/images/勾.png" alt="" srcset="">
                <p>投注成功！</p>
            </div>
        </div>
        <el-dialog title="提示" :visible.sync="visible" width="50%">
            <h3 style="font-size:20px">以下订单的收益率发生了更改，请确认后重新下注！</h3>
            <ul style="margin-top:20px;padding:20px;list-style-type:disc">
                <li style="margin:10px 0;font-size:16px" v-for="bet in unbets" :key="bet.id">{{bet.info}}</li>
            </ul>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="updateRatios">更新汇率</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
export default {
    data() {
        return {
            showList: false,
            showSuccess: false,
            loading: false,
            toopTips: [],
            unbets: [],
            visible: false,
            amountFlag: true
        }
    },
    computed: {
        betList() {
            return this.$store.getters.orderList
        },
        amount() {
            return this.$store.getters.amount
        },
        orderNum() {
            return this.$store.getters.orderCount
        },
        uploadData() {
            return this.$store.getters.orderUpload
        },
        preAmount() {
            return this.$store.getters.preReward
        },
        tips() {
            const result = this.toopTips.reduce((obj, tip) => {
                obj[tip.id] = tip.reason
                return obj
            }, {})
            return result
        }
    },
    watch: {
        showSuccess(val) {
            if (val === true) {
                setTimeout(() => {
                    this.showSuccess = false
                }, 1000)
            }
        },
        betList() {
            this.showList = true
        }
    },
    methods: {
        removeOrder(raceId, rebateId) {
            this.$store.dispatch("removeOrder", {
                raceId,
                rebateId
            })
        },
        clearList() {
            if (this.betList.length > 0) {
                this.$store.dispatch("removeAllOrders")
            }
        },
        testAmount(amount) {
            if (amount < 100) {
                this.$message.error("最低投注金额不得少于100元")
                this.amountFlag = false
                return;
            } else {
                this.amountFlag = true
            }
        },

        confirmSubmit() {
            // this.visible = true
            // return
            if(!this.amountFlag){
                this.$message.error("最低投注金额不得少于100元")
                return;
            }
            if (this.uploadData.length > 0) {
                const betRequests = this.uploadData
                const token = localStorage.fbd_usr_token
                if (!token) {
                    this.$message.error("请先登陆！")
                } else {
                    this.loading = true
                    this.$http.post(this.$api.submitOrders, {
                        betRequests
                    }, {
                        headers: {
                            token
                        },
                        toQs: false
                    }).then((res) => {
                        console.log(res)
                        this.showSuccess = true
                        this.clearList()
                        this.$store.dispatch("countPurchase")
                    }).catch(err => {
                        if (err.data.result) {
                            const list = err.data.result.unbets
                            if (list.length > 0) {
                                this.toopTips = list
                                return
                            }

                            const unbets = err.data.result.unbetRebates
                            if (unbets && unbets.length > 0) {
                                this.unbets = unbets
                                this.visible = true
                            }
                        }
                    }).finally(() => {
                        this.$store.dispatch("updateAmount")
                        this.loading = false
                    })
                }

            }
        },
        updateRatios() {
            this.$store.dispatch("updateOrdersRatio", {
                unbets: this.unbets
            })
            this.visible = false
        }
    }
}
</script>
<style lang="less" scoped>
.betlist {
    width: 120px;
    height: 30px;
    position: fixed;
    right: 0;
    top: 100px;
    z-index: 2099;
    .betlist__label {
        cursor: pointer;
        user-select: none;
        width: 100%;
        height: 30px;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #ff8e01;
        font-size: 16px;
        color: white;
        text-align: center;
        line-height: 30px;
    }
    .betlist__body--show {
        visibility: visible !important;
        opacity: 1 !important;
        right: 0 !important;
    }
    .betlist__body {
        opacity: 0.5;
        visibility: hidden;
        right: 400px;
        transition: all linear .2s;
        background-color: #FFF;
        width: 324px;
        position: absolute;
        top: 30px;
        right: 0;
        border: solid 1px #b4cce8;
        .betlist__body__mask {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
        .betlist__body__datas {
            width: 100%;
            min-height: 400px;
            position: relative;
            max-height: 500px;
            overflow-y: auto;
            .empty__tips {
                font-size: 20px;
                color: #AAA;
                font-family: 微软雅黑;
                text-align: center;
                position: absolute;
                top: 100px;
                left: 0;
                right: 0;
            }
            &::-webkit-scrollbar {
                width: 5px;
                height: 1px;
            }
            &::-webkit-scrollbar-thumb {
                -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.02);
                background: #535353;
            }
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                background: #EDEDED;
            }
            .betlist__data {
                width: 100%;
                position: relative;
                .betlist__data__label {
                    position: relative;
                    width: 100%;
                    height: 40px;
                    background-color: #333;
                    p {
                        position: absolute;
                        height: 100%;
                        line-height: 40px;
                        color: #FFF;
                    }
                    p:first-child {
                        left: 10px;
                    }
                    p:last-child {
                        right: 10px
                    }
                }
                ul.betlist__data__items {
                    width: 100%;
                    position: relative;
                    li {
                        border-bottom: solid 1px #b4cce8;
                        border-top: solid 1px #b4cce8;
                    }
                    li.betlist__data__item {
                        position: relative;
                        &.betlist__data__item__error {
                            height: 80px;
                            margin: 5px 0;
                            &>p.tips {
                                display: block;
                                position: absolute;
                                bottom: 0;
                                background-color: #D00;
                                color: white;
                                width: 100%;
                                text-align: center;
                                height: 16px;
                                line-height: 16px;
                            }
                        }
                        &>p.tips {
                            display: none
                        }
                        width: 100%;
                        height: 60px;
                        background-color: #eaf2fc;
                        display: flex;
                        justify-content: space-between;

                        div.delete {
                            width: 50px;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            button {
                                width: 22px;
                                height: 22px;
                                background-image: url('../../assets/images/delete.png');
                                background-size: contain;
                                background-color: transparent;
                                border-radius: 50%;
                                border-width: 0px;
                                outline: none;
                                cursor: pointer;

                            }
                        }
                        div.score {
                            width: 80px;
                            height: 100%;
                            padding-top: 10px;
                            p {
                                font-size: 14px;
                                color: #333;
                                text-align: center;
                                line-height: 20px;
                            }
                        }
                        p.ratio {
                            width: 85px;
                            height: 100%;
                            color: red;
                            font-size: 18px;
                            line-height: 60px;
                            text-align: center
                        }
                        div.amount {
                            width: 109px;
                            position: relative;
                            input {
                                width: 85px;
                                height: 24px;
                                box-sizing: border-box;
                                font-size: 14px;
                                color: #4d4d4d;
                                text-align: right;
                                border: solid 1px #e0e0e0;
                                position: absolute;
                                top: 10px;
                                left: 0;
                                right: 0;
                                margin: auto;
                                border-radius: 4px;
                                padding: 5px;
                            }
                            p {
                                width: 120%;
                                height: 26px;
                                position: absolute;
                                top: 35px;
                                left: -25px;
                                line-height: 26px;
                                text-indent: 10px;
                                font-size: 12px;
                                color: gold;

                            }
                        }
                    }

                }
            }
        }
        .betlist__body__amount {
            height: 85px;
            width: 100%;
            line-height: 25px;
            padding-top: 5px;
            text-align: right;
            font-size: 14px;
            color: #4d4d4d;
            border-bottom: solid 1px #dfdfdf;
            position: relative;
            span {
                display: inline-block;
                width: 120px;
                color: red;
                font-size: 20px;
                margin-right: 20px;
            }
            span:last-child {
                color: gold
            }
        }
        .betlist__body__btns {
            width: 100%;
            height: 50px;
            position: relative;
            button {
                width: 80px;
                height: 30px;
                border-radius: 4px;
                font-size: 14px;
                border-width: 0;
                position: absolute;
                top: 10px;
            }
            button:first-child {
                background-color: #999;
                color: #FFF;
                left: 15px;
                cursor: not-allowed;
                &.active {
                    background-color: red;
                    cursor: pointer
                }
            }
            button:last-child {
                background-color: #ff8e01;
                color: #FFF;
                right: 15px;
                &.disabled {
                    background-color: #999;
                    color: #FFF;
                    cursor: not-allowed
                }
            }
        }
        .betlist__body__success--show {
            visibility: visible !important;
            opacity: 1 !important;
        }
        .betlist__body__success {
            visibility: hidden;
            opacity: 0;
            transition: all .3s ease-out;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #FFF;
            img {
                position: absolute;
                left: 0;
                right: 0;
                top: 70px;
                margin: 0 auto;

            }
            p {
                position: absolute;
                font-size: 20px;
                top: 160px;
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
                text-indent: 20px;
            }
        }
    }
}
</style>