<template>
    <div class="detailtable">
        <p class="title">{{type===1?'全':'半'}}场波胆</p>
        <div class="tables">
            <div :class="['table',`table_${['a','b','c'][index]}`]" v-for="(col, index) in columns" :key="index">
                <div class="table__header">
                    <div class="table__th">比分</div>
                    <div class="table__th">收益率</div>
                    <div class="table__th">已投注额/可投注额</div>
                    <div class="table__th">操作</div>
                </div>
                <table>
                    <tr v-for="(item, index) in col" :key="index">
                        <td>
                            <span class="ratio">{{item.score}}</span>
                            <span class="percentage" v-show="item.open === 1">{{item.ratio|toPercentage}}</span>
                        </td>
                        <td>
                            <div class="purchase">
                                <span class="progress" :style="{width:`${item.used*100/item.sum}%`}"></span>
                                <span class="text">￥{{item.used}}</span>
                            </div>
                            <div class="all" v-show="item.open === 1">￥{{item.sum-item.used}}</div>
                        </td>
                        <td :class="[item.open === 1?'':'disabled']" @click.prevent="$emit('raise', item)">
                            <a href="javascript:void(0)" >立即投注</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</template>
<script>
export default {
    props:["items", "type"],
    created(){
    },
    computed:{
        columns(){
            const all = this.items?this.items.length:0
            let count = Math.floor(all / 3)
            let left = all %3
            
            const count1 = count + (left > 0?1:0)
            const count2 = count + (left > 1?1:0)
            const count3 = count
            const counts = [count1, count2 + count1, count1 + count2 + count3]
            const colums = counts.map((v, i) => this.items.slice(i===0?0:counts[i-1], v ))
            return colums
        }
    },
}
</script>
<style lang="less" scoped>
    div.detailtable{
        width: 100%;
        p.title{
            width: 100%;
            height: 30px;
            background-color: #333;
            color: #FFF;
            font-size: 14px;
            text-indent: 20px;
            line-height: 30px;
        }
        div.tables{
            box-sizing: border-box;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: space-between;
            .table_a,.table_b{
                .table__header::after{
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 35px;
                    background-color: #cacaca;
                    right: -8px;
                    top: 0;
                }
            }
            .table{
                width: 388px;
                .table__header{
                    position: relative;
                    width: 100%;
                    height: 35px;
                    background-image: url('../../assets/images/rect_bg.png');
                    background-size: contain;
                    background-repeat: repeat-x;
                    display: flex;
                    .table__th{
                        text-align: center;
                        font-size: 14px;
                        color: #333;
                        line-height: 35px;
                    }
                    .table__th:nth-child(1){width: 70px;}
                    .table__th:nth-child(2){width: 82px;}
                    .table__th:nth-child(3){width: 136px;}
                    .table__th:nth-child(4){width: 100px;}
                }
                table,td,tr{border:solid 1px #ddd;}
                table{
                    background-color: #FFF;
                    margin-top: 10px;
                    tr{
                        height: 52px;
                        td{
                            position: relative;
                        }
                        td:nth-child(1){
                            width: 152px;
                            span{
                                display: block;
                                position: absolute;
                                top: 0;
                                height: 100%;
                                line-height: 52px;
                                text-align: center;
                            }
                            span.ratio{
                                width: 70px;
                                left: 0;
                            }
                            span.percentage{
                                width: 82px;
                                right: 0;
                                color: red;
                            }
                        }
                        td:nth-child(2){
                            width: 136px;
                            div{
                                width:100%;
                                position: absolute;
                                left: 0;
                                text-align: center;
                            }
                            div:first-child{
                                height: 32px;
                                top:0;
                                line-height: 32px;
                                font-size: 14px;
                                font-weight: bold;
                                color:#333;
                                border:solid 1px #9dc0e8;
                                z-index: 1;
                                span.progress{
                                    position: absolute;
                                    width: 50%;
                                    height: 32px;
                                    left: 0;
                                    top: 0;
                                    background-color: #d5f7ff
                                }
                                span.text{
                                    z-index: 1;
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    text-align: center;
                                    line-height: 32px;
                                    left: 0;
                                    top: 0;
                                }

                            }
                            div:last-child{
                                height: 20px;
                                background-color: #ededed;
                                bottom: 0;
                                line-height: 20px;
                            }
                        }
                        td:nth-child(3){
                            cursor: pointer;
                            user-select: none;
                            &.disabled{
                                background-color:#AAA;
                                cursor: not-allowed;
                            }
                            width: 100px;
                            text-align: center;
                            background-color: #f60;
                            a{
                                color: #FFF;
                                line-height: 52px;
                            }
                        }
                        td{
                            font-size: 14px;
                            color: #4c4c4c;
                        }
                    }
                }
            }

        }
    }
</style>

