<template>
    <div class="matchtable" v-loading="loading">
        <div class="tablelist__datetime">
            {{date}}
            <button style="position:absolute;right:110px;top:3px" @click="refresh">刷新 {{time}}s</button>
            </div>
        <ul class="tablelist">
            <template v-if="items.length > 0">
                <table-tr v-for="item in items" :key="item.id" :item="item"/>
            </template>
            <template v-else>
                <li class="message">{{message}}</li>
            </template>
        </ul>
        <el-pagination 
            v-if="total > 0"
            layout="prev, pager, next" 
            :total="total" 
            prev-text="上一页" 
            next-text="下一页" 
            :page-size="pageSize"
            :current-page.sync="curPage"
            @current-change="handleCurrentChange"
            ></el-pagination>
    </div>
</template>
<script>
import tableTr from "./tableTr"
export default {
    prop:["contests", "from"],
    data(){
        return {
            date:"",
            loading:false,
            items:[],
            message:"",
            total:0,
            pageSize:15,
            curPage:1,
            timer:null,
            time:60
        }
    },
    destroyed(){
        clearTimeout(this.timer)
        this.timer = null
    },
    beforeRouteLeave(to, from, next){
        clearTimeout(this.timer)
        this.timer = null
        next()
    },
    beforeRouteUpdate(to, from, next){

        this.initPage()
        if(this.timer){
            clearTimeout(this.timer)
        }
        this.autoUpdateData(to.query.part ,0)
        next()
    },
    created(){
        let cate = this.$route.query.part
        this.fetchTable(cate)
        this.autoUpdateData(cate, 0)
        this.date = this.convertTime(Date.now()).split(' ')[0]
    },
    watch:{
        purchase(){
            let cate = this.$route.query.part
            console.log('fetch')

            this.fetchTable(cate, true)
        }
    },
    methods:{
        handleCurrentChange(){
            console.log(this.curPage)
            this.fetchTable()
        },
        initPage(){
            this.curPage = 1
            this.total = 0
            this.pageSize = 10
        },
        refresh(){
            this.autoUpdateData(this.$route.query.part)
        },
        autoUpdateData(cate, n){
            if(!n){
                n = 0
            }
            clearInterval(this.timer)
            this.fetchTable(cate, n!==0).finally(() => {
                this.time = 60
                this.timer = setInterval(() => {
                    this.time --
                    if(this.time === 0){
                        this.autoUpdateData(cate)
                    }

                }, 1000)
            })
        },
        fetchTable(cate, noLoading){
            if(!noLoading){
                this.loading = true
                this.items = []
                this.message = "数据加载中..."
            }
            // 
            const category = cate||""
            const now = new Date()
            const startTime = new Date(now.getFullYear(), now.getMonth(), now.getDate()).getTime()
            let curPage = this.curPage
            let pageSize = this.pageSize
            let type = 1

            return this.$http.get(this.$api.events, {
                category,
                startTime,
                curPage,
                pageSize,
                type,
                sortStyle:2
            }).then(res => {
                const list = res.list||[]
                this.pageSize = res.pageSize
                this.curPage = res.pageNum
                this.total = res.total
                console.log(list)
                this.items = list.filter(v => v.startTime > Date.now()).map(v => {
                    const obj = {
                        category:v.category,
                        raceId:v.raceId,
                        homeTeam:v.homeTeam,
                        visitTeam:v.visitTeam,
                        startTime:this.convertTime(v.startTime),
                        purchases:[]
                    }
                    if(v.dbRebateTotal){
                        let rates = v.dbRebateTotal.list.map(v => ({
                            id:v.id,
                            ratio:v.rebateRatio,
                            score:v.score,
                            sum:v.sumAmount,
                            used:v.usedAmount,
                            open:v.openStatus,
                            valid:v.validAmount
                        }))
                        obj.purchases.push(...rates)
                    }
                    return obj
                })
            }).catch(() => {
                this.message = "请求异常！"
            }).finally(() => {
                this.loading = false
                this.message = "没有记录！"
            })
        }
    },
    components:{
        tableTr,
    }
}
</script>
<style lang="less" scoped>
    .matchtable{
        width: 1200px;
        div.tablelist__datetime{
            position: relative;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            text-indent: 1em;
            background-color: #333;
            color: #EEE;
        }
        .message{
            height: 660px;
            text-align: center;
            line-height: 660px;
            border:solid 1px #ddd;
        }
    }
</style>
