<template>
    <div class="matchdetail" v-loading="loading">
        <div class="teaminfo">
            <p class="matchname">【{{item.category}}】</p>
            <p class="datetime">{{item.startTime|convertTime}}</p>
            <div class="team team--red">
                <div class="team__label">{{item.homeTeam}}</div>
                <div class="team__logo">

                </div>
            </div>
            <div class="team team--blue">
              <div class="team__label">{{item.visitTeam}}</div>
                <div class="team__logo">

                </div>
            </div>
            <div class="buttongroups">
                <button @click="$router.back(-1)">返回</button>
                <button @click="type=1">全场波胆</button>
                <button @click="type=2">半场波胆</button>
            </div>
            <button @click="autoPpdateData" class="refresh">刷新 {{time}}s</button>
        </div>
        <detail-table :type="type" :items="item.purchases?item.purchases:[]" @raise="onRaiseHandler"></detail-table>
    </div>
</template>
<script>
import detailTable from "./detailTable"
const TIME = 60
export default {
    data(){
        return {
            // category:"联赛名称",
            // startTime:"2019-01-03 12:56:00",

            // homeTeam:"主队名称",
            // visitTeam:"客队名称",
            item:{},
            loading:false,
            raceId:"",
            timer:null,
            time :TIME,
            type:1
        }
    },
    created(){
        this.raceId = this.$route.query.raceId
        if(this.raceId){
            this.autoPpdateData()
        }
    },
    beforeRouteLeave(to, from , next){
        clearTimeout(this.timer)
        this.timer = null
        next()
    },
        destroyed(){
        clearTimeout(this.timer)
        this.timer = null
    },
    beforeRouteUpdate(to, from, next){
        clearTimeout(this.timer)
        this.autoPpdateData()
        next()
    },
    watch:{
        type(){
            this.autoPpdateData()
        },
        purchase(){
            this.autoPpdateData()
        }
    },
    methods:{
        onRaiseHandler(obj){
            this.addToBetList(obj)
        },
        autoPpdateData(n){
            clearInterval(this.timer)
            this.fetchData(this.raceId, n!==0).finally(() => {
                this.time = TIME
                this.timer = setInterval(() => {
                    this.time --
                    if(this.time === 0){
                        this.autoPpdateData(++n)
                    }
                }, 1000)
            })

        },
        addToBetList(match){
            const item = this.item
            if(match &&match.open === 1){
                let order = {
                    raceId:item.raceId,
                    category:item.category,
                    homeTeam:item.homeTeam,
                    visitTeam:item.visitTeam,
                    startTime:item.startTime,
                    
                    ratio:match.ratio,
                    type:1,
                    rebateId:match.id,
                    score:match.score,
                    amount:1,
                    sum:match.sum,
                    valid:match.valid,
                    used:match.used
                }
                this.$store.dispatch("addOrder", order)
                this.$message.success("已添加到投注单")
            }
        },
        updateDataWithNoLoading(){
            this.fetchData(this.raceId, true)
        },
        fetchData(raceId , noLoading){
            let curPage = 1
            let pageSize = 1
            let type = this.type
            this.items = []
            // if(!noLoading){
                this.loading = true
            // }
            return this.$http.get(this.$api.events, {
                raceId,
                curPage,
                pageSize,
                type,
                sortStyle:1
            }).then(res => {
                const list = res.list||[]
                if(list.length > 0){
                    const result = list[0]
                    const obj = {
                        category:result.category,
                        raceId:result.raceId,
                        homeTeam:result.homeTeam,
                        visitTeam:result.visitTeam,
                        startTime:result.startTime,
                        purchases:[]
                    }
                    let rates = []
                    if(result.dbRebateTotal){
                        rates = result.dbRebateTotal.list.map(v => ({
                            id:v.id,
                            ratio:v.rebateRatio,
                            score:v.score,
                            sum:v.sumAmount,
                            used:v.usedAmount,
                            open:v.openStatus,
                            valid:v.validAmount
                        }))
                    }
                    obj.purchases.push(...rates)
                    this.item = obj
                }

            }).finally(() => {
                this.loading = false
            })
        },
        convertTime(time){
            let date = new Date(time)
            let dateStr = date.toLocaleDateString().replace(/\d+/g, n => n.padStart(2, '0')).replace(/\//g, '-')
            let timeStr = `${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}`
            return `${dateStr} ${timeStr}`
        }
    },
    components:{
        detailTable
    }
}
</script>
<style lang="less" scoped>
div.matchdetail{
    width: 1180px;
    div.teaminfo{
        width: 100%;
        height: 252px;
        position: relative;
        background-image: url('../../assets/images/VS.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: #333;
        overflow: hidden;
        margin-bottom: 20px;
        p.matchname,p.datetime{
            font-size: 20px;
            text-align: center;
            margin-top: 20px;
        }
        .team{
            width: 120px;
            height: 120px;
            
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            .team__logo{
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: orange;
            }
            .team__label{
                width: 190px;
                height: 70px;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                font-size: 18px;
                color: #FFF;
                text-align: center;
                line-height: 50px;
            }
        }
        .team--red{
            left: 200px;
            .team__label{
                background-image: url('../../assets/images/rect_red.png');
                right: -170px;
            }
        }
        .team--blue{
            right: 200px;
            .team__label{
                left: -170px;
                background-image: url('../../assets/images/rect_blue.png')
            }
        }
        button.refresh{
            width: 80px;
            height: 30px;
            position: absolute;
            bottom: 25px;
            right: 10px;
        }
        .buttongroups{
            position: absolute;
            top: 10px;
            left: 10px;
            top: 10px;
            button{
                height: 30px;
                margin-left: 10px
            }
        }
    }
}
</style>
