<template>
    <li class="tabletr" >
        <div class="tabletr__datetime">{{item.startTime}}</div>
        <div class="tabletr__name">
            <span>{{item.category}}</span>
        </div>
        <div class="tabletr__vsinfo" @click="$router.push({name:'matchDetail', query:{raceId:item.raceId}})">
            {{item.homeTeam}} <span class="vsinfo__style">VS</span> {{item.visitTeam}}
        </div>
        <div class="tabletr__item" v-for="(p, index) in item.purchases.slice(0, 3)" :key="index" @click="addToBetList(p)">
            <span class="item__ratio">{{p.score}}</span>
            <span class="item__percentage">{{p.ratio|toPercentage}}</span>
        </div>
        <div :class="['tabletr__toggle', collapse?'tabletr__toggle--open':'']" @click="collapse=!collapse">
            <span>展开</span>
            <span class="toggle toggle--up"></span>
        </div>
        <div class="tabletr__analyse">
            <button @click.stop="analyseHandler(item)">对阵分析</button>
        </div>
        <div v-if="collapse" class="tabletr__more">
            <table border="1" v-for="(rows, index) in ratios" :key="index">
                <tbody>
                    <tr>
                        <td :class="[row&&row.open === 1?'':'disabled']" v-for="(row, index1) in rows" :key="index1" @click="addToBetList(row)" >
                            <span v-if="row" class="item__ratio">{{row.score}}</span>
                            <span v-if="row" class="item__percentage" v-show="row.open === 1">{{row.ratio|toPercentage}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </li>
</template>
<script>
export default {
    props:["item"],
    data(){
        return {
            collapse:false
        }
    },
    computed:{
        ratios(){
            let result = []
            // let row = new Array(14)
            // row.fill(0)
            // row = row.map((v, i) => this.item.purchases[i])
            // result.push(row)
            // row = new Array(14)
            // row.fill(0)
            // row = row.map((v, i) => this.item.purchases[i + 14])
            const purchases = this.item.purchases
            const mid = Math.floor((purchases.length + 1)/2)

            result.push(purchases.slice(0, mid), purchases.slice(mid))
            return result
        }
    },
    methods:{
        analyseHandler(item){
            alert('暂无数据')
        },
        addToBetList(match){
            if(match && match.open){
                let order = {
                    raceId:this.item.raceId,
                    category:this.item.category,
                    homeTeam:this.item.homeTeam,
                    visitTeam:this.item.visitTeam,
                    startTime:this.item.startTime,
                    
                    ratio:match.ratio,
                    type:1,
                    rebateId:match.id,
                    score:match.score,
                    amount:100,
                    sum:match.sum,
                    valid:match.valid,
                    used:match.used
                }
                this.$store.dispatch("addOrder", order)
                this.$message.success("已添加到投注单")
            }
        }
    }
}
</script>
<style lang="less">
    li.tabletr{
        width: 100%;
        background-color: #FFF;
        color: #333;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        & > div{
            box-sizing: border-box;
            position: relative;
            display: inline-block;
            line-height: 44px;
            height: 44px;
            font-size: 12px;
            text-align: center;
            border-bottom: solid 1px #ddd;
        }
        div.tabletr__datetime{
            width: 15%;
            text-align: left;
            text-indent: 1.3em;
        }
        div.tabletr__name{
            width: 15%;
            span{
                border:solid 1px #ddd;
                border-radius: 4px;
                padding: .2em .5em;
            }
            
        }
        div.tabletr__vsinfo{
            width: 35%;
            span.vsinfo__style{
                font-size: 12px;
                color: #a5a5a5;
                margin: 0 20px;
            }
        }

        div.tabletr__item{
            user-select: none;
            width: 5%;
            line-height: 0;
            font-weight: bold;
            background: linear-gradient(to bottom, #f6fafe, #e5f1fa);
            border-left:solid 1px #b4cce8;
            border-right:solid 1px #b4cce8;
            cursor: pointer;
            &.tabletr__item--noborder{
                border-left-color: transparent;
                border-right-color: transparent;
            }
            span{
                position: absolute;
                width: 100%;
                left: 0;
                text-align: center;
            }
            span:nth-child(1){
                top: 12px;
            }
            span:nth-child(2){
                color: #ff5b01;
                bottom:12px;
            }
        }
        div.tabletr__toggle{
            width: 5%;
            background-color: #eaf2fc;
            user-select: none;
            cursor: pointer;
            .toggle{
                position: absolute;
                width: 10px;
                height: 10px;
                background-image: url('../../assets/images/angle.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                top: 18px;
                right: 5px;
                transform: rotate(-90deg)
            }
            &.tabletr__toggle--open{
                .toggle{
                    transform: rotate(0deg)
                }
                border-bottom-color: transparent;
            }
        }
        div.tabletr__analyse{
            width: 15%;
            border-left: 1px solid #b4cce8;
            button{
                width: 65px;
                height: 24px;
                border-radius: 4px;
                background-color: #ff8e01;
                font-size: 12px;
                color: #FFF;
                border:0px;
                cursor: pointer;
            }
        }
        div.tabletr__more{
            width: 100%;
            height: 130px;
            background-color: #eaf2fc;
            table{
                border-width: 1px;
                border-color: #b4cce8;
                
                td{
                    &.disabled{
                        background-color: #ccc;
                        border-color: #FFF;
                        cursor:not-allowed;
                    }
                    user-select: none;
                    position: relative;
                    height: 34px;
                    width: 72px;
                    line-height: 0;
                    box-sizing: border-box;
                    font-weight: bold;
                    font-size: 12px;
                    background-color: #FFF;
                    cursor: pointer;
                    span{
                        position: absolute;
                        width: 100%;
                        left: 0;
                        text-align: center;
                    }
                    span:nth-child(1){
                        top: 10px;
                    }
                    span:nth-child(2){
                        color: #ff5b01;
                        bottom:10px;
                    }
                }
            }
            table:first-child{
                margin: 20px auto 5px auto;
            }
            table:last-child{
                margin: 5px auto 0 auto;
            }
        }
    }
</style>
