<template>
    <div class="tabs">
        <ul class="tab__list">
            <li :class="['tab__item', index === activeIndex?'tab__item--active':'']" v-for="(item, index) in items" :key="index" @click="itemClickHandler(item)">{{item}}</li>
            <li v-if="moreItems.length" :class="['tab__item', activeIndex >= 8?'tab__item--active':'']">
                <span>更多</span>
                <div class="tab__more__wrapper">
                    <ul class="tab__more">
                        <li :class="['tab__item', 'tab__more__item', index + 8 === activeIndex?'tab__item--active':'']" v-for="(item, index) in moreItems" :key="index" @click="itemClickHandler(item)">{{item}}</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    props:["list", "activeIndex"],
    computed:{
        items(){
            let result = []
            if(this.list&&this.list.length > 0){
                result = this.list.slice(0,8)
            }
            return result
        },
        moreItems(){
            let result = []
            if(this.list && this.list.length > 8){
                result = this.list.slice(8)
            }
            return result
        }
    },
    methods:{
        itemClickHandler(item){
            this.$emit("change", item)
        }
    }
}
</script>
<style lang="less" scoped>
    .tabs{
        font-family: 微软雅黑;
        position: relative;
        width: 100%;
        height: 32px;
        color: #333;
        z-index: 1;
        ul.tab__list{
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            li{
                display: inline-block;
                padding:0 10px;
                margin: 0;
            }
            li.tab__item{
                position: relative;
                // width: 80px;
                height: 32px;
                background-color: #eeece8;
                font-size: 16px;
                cursor: pointer;
                user-select: none;
                text-align: center;
                line-height: 32px;
                &::after{
                    content: "";
                    width: 1px;
                    height: 16px;
                    top: 8px;
                    right: 0;
                    background-color: #ccc;
                    position: absolute;
                }
                &:last-child::after{
                    background-color: transparent;
                }
                // &:hover{
                //     background-color: #ff8e01;
                //     color: #EEE;
                //     &::after{
                //         background-color: transparent;
                //     }
                // }
                &:hover{
                    .tab__more__wrapper{
                        visibility: visible
                    }
                }
                .tab__more__wrapper:hover{
                    visibility: visible;;
                }
                .tab__more__wrapper{
                    visibility: hidden;
                    ul.tab__more{
                        display: block;
                        
                        top: 32px;
                        li.tab__more__item{
                            display: block;
                            color: #333;
                            &:after{
                                width: 100%;
                                height: 1px;
                                bottom: 0;
                                left: 0;
                                top: auto
                            }
                        }
                        li.tab__item--active{
                            color: #EEE;
                        }
                    }
                }
            }
            li.tab__item--active{
                background-color: #ff8e01;
                color: #EEE;
                &::after{
                    background-color: transparent;
                }
            }
        }
    }
</style>

