<template>
  <div class="wrapper">
    <div class="tab">
      <div :class="{'active':params.type === 1}" @click="typeChoose(1)">全场波胆</div>
      <div :class="{'active':params.type === 2}" @click="typeChoose(2)">半场波胆</div>
      <div class="select">
        <span style="font-size:12px">时间范围</span>
        <el-select
          style="width:120px;height:100%;position:relative;top:-4px;display:inline-block;margin:0 10px"
          v-model="params.dateType"
          size="mini"
          placeholder="请选择"
          @change="dateTypeChange"
        >
          <el-option label="近一周" value="1"></el-option>
          <el-option label="近一个月" value="2"></el-option>
          <el-option label="近一年" value="3"></el-option>
          <el-option label="全部" value="4"></el-option>
        </el-select>
        <!-- <span style="font-size:12px">订单状态</span>
        <el-select
          style="width:120px;height:100%;position:relative;top:-4px;display:inline-block;margin:0 10px"
          v-model="params.betStatus"
          size="mini"
          placeholder="请选择状态"
          @change="dateTypeChange"
        >
          <el-option label="已取消" value="0"></el-option>
          <el-option label="已投注" value="1"></el-option>
          <el-option label="已撤销" value="2"></el-option>
          <el-option label="全部" value=""></el-option>
        </el-select> -->
        <span style="font-size:12px">投注结果</span>
        <el-select
          style="width:120px;height:100%;position:relative;top:-4px;display:inline-block;margin:0 10px"
          v-model="params.betResult"
          size="mini"
          placeholder="投注结果"
          @change="dateTypeChange"
        >
          <el-option label="输" value="0"></el-option>
          <el-option label="赢" value="1"></el-option>
          <el-option label="退返本金" value="2"></el-option>
          <el-option label="全部" value=""></el-option>
        </el-select>
      </div>
    </div>
    <div class="listData">
      <el-table
      v-loading
        :data="tableData"
        stripe
        style="width: 100%"
        :cell-style="cellRowClass"
        :header-cell-style="headerRowClass"
      >
        <el-table-column align="center" label="投注单号" prop="id"></el-table-column>
        <el-table-column align="center" prop="createTime" label="投注时间">
          <template slot-scope="scope">
              {{scope.row.createTime | convertTimeWithSec}}
          </template>
        </el-table-column>
        <el-table-column align="center" label="开赛时间">
          <template slot-scope="scope">
            {{scope.row.json.startTime|convertTime}}
          </template>

        </el-table-column>
        <el-table-column align="center" prop="content" label="比赛信息" width="250">
          <template slot-scope="scope">
            <span>【{{scope.row.json.category}}】</span>
            <br>
            <span>{{ JSON.parse( scope.row.content).teams }}</span>
          </template>
        </el-table-column>
        <el-table-column align="center" label="注单内容">
          <template slot-scope="scope">
            <span>波胆{{scope.row.json.rebateRatio|toPercentage}}</span>
            <br>
            <span>{{scope.row.json.score.replace(':', '-')}}</span>
          </template>
        </el-table-column>
        <!-- <el-table-column align="center" label="反波胆选项">
           <template slot-scope="scope">
            <span v-if="scope.row.betResult == 1">波胆</span>
            <span v-if="scope.row.betResult == 2">半场波胆</span>
          </template>
        </el-table-column> -->
        <el-table-column align="center" prop="winResult" label="比赛结果" ></el-table-column>
        <el-table-column align="center" prop="money" label="投注金额">
          <template slot-scope="scope">
            <span>￥{{ JSON.parse( scope.row.content).betAmount }}</span>
          </template>
        </el-table-column>
        <el-table-column align="center" label="手续费5%">
          <template slot-scope="scope">
            <span>¥{{((JSON.parse(scope.row.content).expectRebateAmount)*0.05).toFixed(2)}} </span>
          </template>
        </el-table-column>
        <el-table-column align="center"  label="预期收益" >
          <template slot-scope="scope">
            ¥{{JSON.parse(scope.row.content).expectRebateAmount}}
          </template>
        </el-table-column>
        <!-- <el-table-column align="center" prop="betResult" label="投注结果" ></el-table-column> -->
        <!-- <el-table-column align="center" prop="winResult" label="订单状态" ></el-table-column> -->
        <!-- <el-table-column align="center" prop="winResult" label="比赛状态" ></el-table-column> -->
        <el-table-column align="center" prop="betResult" label="投注结果">
          <template slot-scope="scope">
            <span v-if="scope.row.betResult == 1" style="color:red;font-weight:bold">赢</span>
            <span v-else-if="scope.row.betResult == 0" style="color:green;font-weight:bold">输</span>
            <span v-else>未知</span>
          </template>
        </el-table-column>
        <el-table-column align="center" prop="address" label="返利状态">
          <template slot-scope="scope">
            <!-- <span v-if="scope.row.betStatus == 2">已撤销</span>
            <span v-else-if="scope.row.betStatus == 0">比赛取消</span> -->
            <span v-if="scope.row.rebateStatus == 1" :style="{color:scope.row.betResult===1?'red':'green', fontWeight:'bold'}">返利{{scope.row.betResult === 1?`+${scope.row.json.expecAmount}`:`-${scope.row.json.betAmount}`}}</span>
            <span v-else>未返利</span>
            <!-- <span v-else-if="scope.row.recdStatus == 0">返利失败</span> -->
          </template>
        </el-table-column>

        <el-table-column align="center" label="操作">
          <template slot-scope="scope">
            <button v-if="canCancel(scope.row)" @click="cancelOrder(scope.row.id)">撤销</button>
            <p v-else>--</p>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        v-if="total > 0"
        layout="prev, pager, next"
        :total="total"
        prev-text="上一页"
        next-text="下一页"
        :page-size="10"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
export default {
  name: "cashHistory",
  data: function() {
    return {
      params: {
        dateType: '4',
        betResult :'',
        betStatus :'',
        type: 1,
        curPage: 1,
        pageSize: 10
      },
      tableData: [],
      total: 0
    };
  },
  methods: {
    getList() {
      this.$http.get(this.$api.betList, this.params).then(res => {
        console.log(res);
        this.tableData = res.page && res.page.list;
        this.total = res.page && res.page.total;
      });
    },
    canCancel(row){
      if(row.betStatus === 2){
        return false
      }
      if(row.json.startTime === null || row.json.startTime < Date.now()){
        return false
      }
      return true
    },
    typeChoose(type) {
      if (this.params.type != type) {
        this.params.type = type;
        this.getList();
      }
    },
    cellRowClass({ row, column, rowIndex, columnIndex }) {
      return "padding:5px 0;font-size:12px;color:#333";
    },
    headerRowClass({ row, column, rowIndex, columnIndex }) {
      return "padding:5px 0;background:#9e9e9e38;font-size:14px;color:#333;border-right:1px solid #ddd;border-left:1px solid #ddd;";
    },
    handleCurrentChange(val) {
      this.params.curPage = val;
      this.getList();
    },
    dateTypeChange() {
      this.getList();
    },
    cancelOrder(orderId){
      this.$confirm(`确认撤销订单${orderId}吗？`, "撤销提示",{
        confirmButtonText:"撤销",
        cancelButtonText:"取消",
        type:"warning"
      }).then(() =>{
        this.$http.get(this.$api.cancel, {
          betId:orderId
        }).then(res => {
          const order = this.tableData.find(v => v.id === orderId)
          if(order){
            order.betStatus = 2
          }
          this.$message.success("撤单成功！")
        })
      })
    }
  },
  mounted() {
    this.getList();
  }
};
</script>

<style scoped lang="less">
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .tab {
    height: 54px;
    width: 100%;
    padding-top: 18px;
    background: #fafafa;
    box-sizing: border-box;
    div {
      display: inline-block;
      width: 100px;
      height: 36px;
      font-size: 16px;
      text-align: center;
      line-height: 36px;
      color: #595959;
      box-sizing: border-box;
      transition: all 0.5s;
      cursor: pointer;
      &.active {
        color: #ff810e;
        border-bottom: 3px solid #ff810e;
      }
    }
    .select {
      float: right;
      display: inline-block;
      width: 600px;
      height: 30px;
      margin-right: 20px;
      margin-bottom: 6px;
    }
  }
  .listData {
    flex: 1;
    height: 100%;
    margin-top: 10px;
    .transactionHeader {
      background: #000;
    }
  }
}
</style>