<template>
  <div>
    <fbd-header></fbd-header>
    <div class="wrapper">
      <div class="header">忘记密码</div>
      <div class="section">
        <el-form :model="pswForm" :rules="rules" ref="pswForm" label-width="100px" size="small">
          <el-form-item label="手机号码：" required>
            <el-col :span="10">
              <el-form-item prop="area" style="margin-bottom:0">
                <el-select style="margin-right:14px;" v-model="pswForm.area" placeholder="请选择区号">
                  <el-option
                    v-for="item in areaList"
                    :key="item.prefix"
                    :value="item.prefix+'('+item.name+')'"
                  ></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item prop="phone" style="margin-bottom:0">
                <el-input
                  style="width: 172px;"
                  v-model.number="pswForm.phone"
                  placeholder="请输入手机号码"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-form-item>
          <el-form-item label="验证码" prop="captcha">
            <el-input
              v-model="pswForm.captcha"
              style="width: 210px;margin-right:14px;"
              placeholder="请输入短信验证码"
            ></el-input>
            <button :class="['vercode', countdown?'active':'']" @click.prevent="getVerCode">获取验证码<span v-if="countdown">({{countdown}}s)</span></button>
          </el-form-item>
          <el-form-item label="密码：" prop="password">
            <el-input type="password" v-model="pswForm.password" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="确认密码：" prop="rePassword">
            <el-input type="password" v-model="pswForm.rePassword" autocomplete="off"></el-input>
          </el-form-item>
          <div class="comfirm-btn" @click="submitForm('pswForm')">确定</div>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import md5 from "js-md5";

export default {
  name: "forgetPsw",
  data() {
    var validatePsw = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入密码"));
      } else {
        if (this.pswForm.rePassword !== "") {
          this.$refs.pswForm.validateField("rePassword");
        }
        callback();
      }
    };
    var validateRepsw = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请再次输入密码"));
      } else if (value !== this.pswForm.password) {
        callback(new Error("两次输入密码不一致!"));
      } else {
        callback();
      }
    };
    return {
      areaList: [],
      pswForm: {
        password: "",
        rePassword: "",
        area: "",
        phone: null,
        captcha: "",
      },
      countdown:0,
      rules: {
        password: [{ required: true, validator: validatePsw, trigger: "blur" }],
        phone: [
          { required: true, message: "请输入手机号" },
          { type: "number", message: "手机号必须为数字" }
        ],
        rePassword: [
          { required: true, validator: validateRepsw, trigger: "blur" }
        ],
        area: [{ required: true, message: "请输入区号", trigger: "change" }],
        captcha: [
          { required: true, message: "请输入短信验证码", trigger: "blur" }
        ]
      }
    };
  },
  mounted() {
    this.$http.get(this.$api.area, {}).then(res => {
      console.log(res);
      this.areaList = res;
    });
  },
  methods: {
    autoCount(){
      this.timer = setInterval(() => {
        this.countdown --
        if(this.countdown === 0){
          clearInterval(this.timer)
        }
      }, 1000)
    },
    submitForm(pswForm) {
      console.log(this.pswForm);
      this.$refs[pswForm].validate(valid => {
        if (valid) {
          console.log(this.pswForm);
          let params = {
            ...this.pswForm,
            password: md5(this.pswForm.password),
            rePassword: md5(this.pswForm.rePassword),
            area: this.pswForm.area.match(/\+\d+/g).toString()
          };
          console.log(params);
          this.$http.get(this.$api.forgetPsw, params).then(res => {
            // console.log(res);
            this.$message({
              message: "修改密码成功",
              type: "success"
            });
            this.$router.replace("/");
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    //获取验证码
    getVerCode() {
      if(this.countdown > 0){
        return
      }
      if (this.pswForm.area == "" || this.pswForm.phone == "") {
        this.$refs.pswForm.validateField(["area", "phone"]);
        return;
      }
      this.countdown = 60
      this.autoCount()
      var params = {
        area: this.pswForm.area.match(/\+\d+/g).toString(),
        phone: this.pswForm.phone,
        type: 1
      };
      console.log(params);
      this.$http.get(this.$api.captcha, params).then(res => {
        console.log(res);
      });
    }
  }
};
</script>

<style lang='less' scoped>
.wrapper {
  width: 1180px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  margin-top: 20px;
}
.header {
  text-align: center;
  color: #ff8e01;
  font-size: 20px;
  line-height: 42px;
  border-bottom: 1px solid #e6e6e6;
}
.section {
  padding: 56px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.el-input {
  width: 322px;
}
.vercode {
  width: 125px;
  line-height: 25px;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: #ff8e01;
}
.active{
  background-color: gray;
}
.comfirm-btn {
  width: 320px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: #ff8e01;
  margin-left: 100px;
}
</style>