<template>
  <el-container>
    <fbd-header></fbd-header>
    <el-container>
      <fbd-aside v-show="$store.state.hasLogin&&$store.state.showAside"></fbd-aside>
      <el-main style="height: calc(100vh - 96px)">
        <!-- <keep-alive> -->
          <router-view></router-view>
        <!-- </keep-alive> -->
      </el-main>
      
    </el-container>
    <el-footer>
      <!-- <fbd-footer/> -->
    </el-footer>
  </el-container>
</template>

<script>
import fbdFooter from "../components/footer"
export default {
  name: "home",
  data() {
    return {};
  },
  components:{
    fbdFooter
  }
};
</script>

<style lang='less' scoped>
.el-footer {
  width: 100%;
  height: 36px !important;
  background-color: #333;
  // position: absolute;
  // bottom: 0;
}
</style>