<template>
  <div>
    <fbd-header></fbd-header>
    <el-container>
      <el-main>
        <div class="main-pic">
          <div class="imgs">
            <div class="imgs-wrap" :style="{width:`${banners.length}00%`, left:`-${activeIndex}00%`}">
              <img v-for="(banner, index) in banners" :key="banner" :style="{width:`${1/banners.length*100}%`, left:`${index*25}%`}" :src="`images/${banner}`" alt="" srcset="">
            </div>
          </div>
          <div class="mini-pngs">
            <div @click="activeIndex = index" :class="[activeIndex === index?'active':'','img-wrap']" v-for="(banner, index) in banners" :key="banner">
              <img    :src="`images/${banner}`" alt="">
            </div>
          </div>
        </div>
        <div class="game-list" v-loading="loading">
          <div class="game-item" v-for="(game, i) in gameList" :key="game.id">
            <div class="game-item__header">
              <p class="catename">【{{game.category}}】  </p>
              <p class="startTime">{{game.startTime|convertTime}}</p>
            </div>
            <div class="game-item__body" :style="{backgroundImage:`url('images/${imgs[i]}')`}">
              <p class="amount">￥{{game.totalAmount}}</p>
              <canvas ref="canvas" :style="{bottom:`${game.process*100}%`}" width="380" height="200"></canvas>
              <div class="progress" :style="{top:`${100-game.process*100}%`}"></div>
            </div>
            <div class="game-item__footer">
              <p class="infos">{{game.homeTeam}} <span>VS</span> {{game.visitTeam}}</p>
              <div class="button_wrap">
                <button @click="$router.push({path:'/matchBet/detail', query:{raceId:game.id}})">立即投注</button>
              </div>
            </div>
          </div>
        </div>
      </el-main>
    </el-container>
    <fbdFooter/>
  </div>
</template>

<script>
import waveLoading from "../common/waveLoading"
import fbdFooter from "../components/footer"
export default {
  name: "index",
  data() {
    return {
      gameList : [{},{},{}],
      imgs:['a.png', 'b.png', 'c.png'],
      banners:['0.png', '1.png', '2.png', '3.png'],
      timer:null,
      activeIndex:0,
      loading:false,
      message:"正在获取数据..."
    };
  },
  beforeCreated(){
    
  },
  mounted(){
    this.$store.commit("setAside", false);
    this.fetchData()
    this.autoBanner()
  },
  filters:{
    convertTime(ts){
      const dt = new Date(ts)
      const month = (dt.getMonth() + 1).toString().padStart(2, '0')
      const day = dt.getDate().toString().padStart(2, '0')
      const hour = dt.getHours().toString().padStart(2, '0')
      const min = dt.getMinutes().toString().padStart(2, '0')
      return `${month}-${day} / ${hour}:${min}`
    }
  },
  watch:{
    activeIndex(){
      this.autoBanner()
    }
  },
  methods: {
    autoBanner(){
      clearTimeout(this.timer)
      this.timer = setTimeout(() => {
        this.activeIndex = (this.activeIndex + 1)%this.banners.length
      }, 5000);
    },
  initWaveLoading(){
    this.$nextTick(() => {
      this.$refs.canvas.forEach((v, i) => {
        const wave = waveLoading()
        const game = this.gameList[i]
        game.wave = wave
        wave.init({
          showText:false,
          target:v
        })
        wave.setProgress(0)
        wave.draw()
      })

    })
  },
    fetchData(){
      const curPage = 1
      const pageSize = 3
      this.loading = true
      this.$http.get(this.$api.recomend, {curPage, pageSize}).then(res => {
        const list = res.list.slice(0, 3)
        list.map((v, i) => {
          this.gameList.splice(i, 1, {
            id:v.id,
            category:v.category,
            startTime:this.convertDateTime(v.startTime),
            homeTeam:v.homeTeam,
            visitTeam:v.visitTeam,
            totalAmount:v.totalBetAmount,
            process:v.process
          })
        })
        this.initWaveLoading()
        
      }).finally(() => {
        this.loading = false
        this.message = '暂无推荐'
        console.log(this.gameList)
      })
    },
    convertDateTime(time){
      return this.convertTime(time).slice(5)
    }
  },
  components:{
    fbdFooter
  }
};
</script>

<style lang='less' scoped>
.el-container {
  background-color: #fafafa;
}
.el-main {
  // width: 1180px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  background: url('../assets/images/background.jpg')
  // padding: 20px 0;
}
.main-pic {
  position: relative;
  width: 100%;
  .imgs{
    position:relative;
    width:100%;
    height:420px;
    overflow:hidden;
    .imgs-wrap{
      position:absolute;
      height:100%;
      left:0;
      top:0;
      transition:left 1s ease-in-out;
      img{
        position:absolute;
        height:100%;
        top:0;
        left:0;
      }
    }

  }
  // height: 420px;
  background-color: #efefef;
  .mini-pngs{
    width: 1180px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      position:relative;
      width: 294px;
      height: 100px;
      cursor: pointer;
    }
    div.img-wrap{
      position:relative;
      cursor:pointer;
      &::after{
        content:"";
        position:absolute;
        width: 294px;
        height: 100px;
        left:0;
        top:0;
        background-color:rgba(0,0,0,.5);
        transition:background-color 1s linear;
      }
      &.active{
        &::after{
          background-color:transparent;
        }
        border:3px solid rgba(255,184,12,1)
      }
    }
  }
}
.game-list {
  display: flex;
  font-size: 16px;
  width: 1180px;
  height: 354px;
  margin: 20px auto 55px auto;
  .game-item {
    flex: 1;
    background-color: #fff;
    height: 100%;
    width: 380px;
    position: relative;
    box-shadow: 0 0 30px 2px rgba(0,0,0,.5);
    .game-item__header{
      position: relative;
      width: 100%;
      height: 36px;
      background:linear-gradient(0deg,rgba(30,30,30,1),rgba(75,75,75,1));
      p.catename{
        width: 100%;
        height: 100%;
        line-height: 36px;
        color: white;
      }
      p.startTime{
        width: 121px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        background:linear-gradient(0deg,rgba(0,125,18,1),rgba(3,187,3,1));
      }
    }
    .game-item__body{
      width: 100%;
      height: 200px;
      position: relative;
      overflow: hidden;
      p.amount{
        width: 100%;height: 200px;
        line-height: 200px;
        font-size: 42px;
        color: #FFF;
        text-align: center;
        user-select: none;
      font-weight: bold;
      text-shadow: 3px 0px 8px black;
      }
      canvas{
        position:absolute;
        bottom:0;
        left:0
      }
      div.progress{
        width: 100%;
        height: 200px;
        position: absolute;
        background-color: rgba(255, 248, 133, .6)
      }
    }
    .game-item__footer{
      width: 100%;
      height: 117px;
      p.infos{
        width: 100%;
        height: 61px;
        line-height: 61px;
        text-align: center;
        color: #333;
        border-bottom: 1px dashed #999;
        span{
          color: #999
        }
      }
      div.button_wrap{
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
          transition: opacity .1s linear;
          border-color: transparent;
          width:130px;
          height:36px;
          color: white;
          background:linear-gradient(0deg,rgba(132,46,40,1),rgba(255,47,47,1));
          &:active{
            opacity: .8;
          }
        }
      }
    }
    .game-tips{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: white;
      p{
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 100px;
        font-size: 20px;
        color: #333;
      }
    }
    &:not(:first-child) {
      margin-left: 20px;
    }
    .pic {
      width: 100%;
      height: 165px;
      position: relative;
      p {
        font-size: 42px;
        color: #1a0000;
        position: absolute;
        top: 56px;
        left: 50%;
        transform: translateX(-50%);
      }
      .bar,
      span {
        width: 250px;
        height: 22px;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: 24px;
      }
      .bar {
        background: url("../assets/images/bar.png") no-repeat;
        top: 0;
        left: 0;
        transform: translateX(0);
        border-radius: 11px;
      }
      span {
        background: url("../assets/images/bar-border.png") no-repeat;
      }
    }
    .detail {
      text-align: center;
      .name {
        padding-top: 30px;
        margin-right: 12px;
        color: #333;
      }
      .time{
        margin-top: 20px;
      }
      .against {
        padding: 20px 0;
        span {
          color: #999;
          padding: 0 20px;
        }
      }
    }
    a {
      display: block;
      margin: 20px 0;
      width: 130px;
      line-height: 36px;
      margin: 0 auto;
      background-color: #ff8e01;
      border-radius: 4px;
      color: #fff;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
.el-footer {
  background-color: #333;
}
</style>