<template>
  <div class="matchbet" v-loading="loading">
    <tabs :list="tabs" :active-index="activeIndex" @change="tabChangeHandler"/>
    <router-view></router-view>
    <bet-list />
  </div>
</template>

<script>
import Tabs from "../components/matchBets/tabs.vue"
import betList from "../components/matchBets/betList.vue"
export default {
  name: "matchBet",
  data() {
    return {
      loading:false,
      items:['全部'],
      activeIndex:0
    };
  },
  computed:{
    tabs(){
      return this.items
    }
  },
  created(){
    this.fetchTabs()
  },
  methods:{
    tabChangeHandler(item){
      let index = this.items.indexOf(item)
      let query = item === '全部'?{}:{part:item}
      this.$router.push({name:'matchBet', query})
      this.activeIndex = index
    },
    fetchTabs(){
      this.loading = true
      this.$http.get(this.$api.category, {
        curPage:1,
        pageSize:50
      }).then(res => {
        if(res.list && res.list.length > 0){
          this.items.push(...res.list)
          let part = this.$route.query.part
          if(part){
            let index = this.items.indexOf(part)
            if(index >= 0){
              this.activeIndex = index
            }
          }
        }
      }).finally(() => {
        this.loading = false
      })
    }
  },
  components:{
    Tabs,
    betList
  }
};
</script>

<style lang='less' scoped>
</style>