<template>
    <div class="matchresult">
        <div class="result-panel">
            <div class="result-filters">
                <select class="matchname" v-model="category">
                    <option :value="undefined">全部</option>
                    <option v-for="cate in categorys" :key="cate" :value="cate">{{cate}}</option>
                </select>
                <select class="matchtime" v-model="startTime">
                    <option :value="undefined">所有时间</option>
                    <option v-for="time in startTimes" :value="time" :key="time">{{time|convertTime|convertDate}}</option>
                </select>
            </div>
            <div class="result-table" v-loading="loading">
                <table>
                    <tr>
                        <th>比赛时间</th>
                        <th>赛事名称</th>
                        <th>主队</th>
                        <th>客队</th>
                        <th>半场比分</th>
                        <th>全场比分</th>
                    </tr>
                    <tr :class="[index%2===1?'odd':'even']" v-for="(result, index) in results" :key="result.id">
                        <td>{{result.startTime | convertTime}}</td>
                        <td>{{result.category}}</td>
                        <td>{{result.homeTeam}}</td>
                        <td>{{result.visitTeam}}</td>
                        <td>{{result.halfScore}}</td>
                        <td>{{result.score}}</td>
                    </tr>
                </table>
            </div>
        </div>
      <el-pagination
        layout="prev, pager, next"
        :total="pagination.total"
        prev-text="上一页"
        next-text="下一页"
        :page-size="pagination.pageSize"
        :current-page="pagination.curPage"
        @current-change="onCurrentChangeHandller"
      ></el-pagination>
    </div>    
</template>
<script>
export default {
    data(){
        return {
            results:[],
            categorys:[],
            category:undefined,
            startTime:undefined,
            startTimes:[],
            loading:false,
            pagination:{
                pageSize:10,
                total:0,
                curPage:1
            }
        }
    },
    created(){
        this.generateTimes()
        this.updateData()
        this.fetchTabs()
    },
    watch:{
        category(){
            this.updateData()
        },
        startTime(){
            this.updateData()
        }
    },
    methods:{
        onCurrentChangeHandller(page){
            this.pagination.curPage = page
            this.updateData()
        },
        updateData(){
            this.fetchData(this.pagination.curPage, this.pagination.pageSize, this.category, this.startTime)
        },
        generateTimes(){
            const now = new Date()
            const nowTs = new Date(now.getFullYear(), now.getMonth(), now.getDate()).getTime()
            for(let i = 0 ; i < 7; i++){
                this.startTimes.push(nowTs + 1000*60*60*24*i)
            }
        },
        fetchData(curPage, pageSize, category, startTime){
            this.loading = true
            const obj = {
                curPage,
                pageSize,
                category,
                startTime
            }
            this.$http.get(this.$api.resultlist, obj).then(res => {
                if(res.nodata){
                    this.results = []
                }else{
                    this.pagination.total = res.total
                    this.results = res.list.sort((a, b) => a.startTime - b.startTime).map(v => ({
                        id:v.raceId,
                        category:v.category,
                        startTime:v.startTime,
                        homeTeam:v.homeTeam,
                        visitTeam:v.visitTeam,
                        halfScore:v.halfResult,
                        score:v.winResult
                    }))
                }
            }).finally(() => {
                this.loading = false
            })
        },
        fetchTabs(){
            this.$http.get(this.$api.category, {
                curPage:1,
                pageSize:50
            }).then(res => {
                if(res.list && res.list.length > 0){
                    this.categorys.push(...res.list)
                }
            })
        }
    },
}
</script>
<style lang="less" scoped>
    .matchresult{
        background-color: #FFF;
        width: 1180px;
        margin-left: 130px;
        margin-top: 50px;
        .result-panel{
            width: 100%;
            height: 600px;
            position: relative;
            border:solid 1px #ccc;
            
            .result-filters{
                width: 100%;
                height: 65px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                select{
                    width: 145px;
                    height: 35px;
                    border-radius: 5px;
                    padding: 0 10px;
                    margin-right: 20px;
                    cursor: pointer;
                }
            }
            .result-table{
                table{
                    width: 100%;
                    tr,th{border:solid 1px #ccc}
                    tr{
                        th{
                            width: 17%;
                            height: 30px;
                            border:solid 1px #ccc;
                            color: #333;
                            font-size: 14px;
                            background-image: url('../assets/images/rect_bg.png')
                        }
                        td{
                            height: 35px;
                            line-height: 35px;
                            text-align: center;
                            font-size: 14px;
                            color: #333;
                        }
                        &.odd{
                            background-color: #ddd
                        }
                    }
                }
                

                
            }
        }
    }
</style>
