<template>
  <el-aside width="240px" style="height: calc(100vh - 96px);">
    <div class="account">
      <img class="avatar" src="../assets/images/avatar.png">
      <p>{{$store.state.account}}</p>
      <p>账户余额：<span class="money">{{$store.state.amount}}</span></p>
    </div>
    <el-menu router :default-active="this.$route.fullPath">
      <el-menu-item v-for="menu in menus" :index="menu.route" :key="menu.route" :route="menu.route">
        <i :class="menu.class"></i>
        <span slot="title">{{menu.title}}</span>
      </el-menu-item>
    </el-menu>
    <!-- <div class="logout" @click.prevent="logout">
      <img class="avatar" src="../assets/images/logout.png">
      <span >退出登陆</span>
    </div> -->
  </el-aside>
</template>

<script>
export default {
  name: "fbd-aside",
  data() {
    return {
      account: "",
      // activeIndex:0,
      menus:[{
        route:"/matchBet",
        class:"icon-bisaitouzhu",
        title:"比赛投注"

      },{
        route:"/matchResult",
        class:"icon-bisaitouzhu",
        title:"比赛结果",
      },{
        route:"/recharge?type=1",
        class:"icon-chongzhi",
        title:"充值"
      },{
        route:"/recharge?type=2",
        class:"icon-chongzhi",
        title:"提现"
      },{
        route:"/betOrder",
        class:"icon-touzhu",
        title:"我的投注单"
      },{
        route:"/revise",
        class:"icon-revise",
        title:"修改信息"
      }]
    };
  },
  mounted() {
    this.$store.commit("setAside", true);
    this.activeIndex = this.menus.findIndex(v => v.route === this.$route.path)
  },
  methods: {
    logout() {
      this.$confirm("是否退出登录", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          // this.$http.get(this.$api.logout, {  }).then(() => {
          //   this.$message({
          //     type: "success",
          //     message: "登出成功!"
          //   });
            localStorage.removeItem("fbd_usr_token");
            localStorage.removeItem("fbd_usr_ccount");
            this.$store.commit("setAside", false);
            this.$store.commit("setLogin", false);

        })
    }
  }
};
</script>

<style lang='less' scoped>
.el-main {
  background-color: #fafafa;
}
.el-aside {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  .account {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #f2f2f2;
    .money{
      font-weight: bold;
      color: red;
    }
    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: block;
    }
    p {
      padding-top: 10px;
      font-size: 16px;
      color: #333;
    }
  }
}
[class^="icon-"] {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: 60% !important;
}
.icon-chongzhi {
  background: url("../assets/images/chongzhi.png") no-repeat center center;
}
.is-active .icon-chongzhi {
  background: url("../assets/images/chongzhi-active.png") no-repeat center
    center;
}
.icon-touzhu {
  background: url("../assets/images/touzhu.png") no-repeat center center;
}
.is-active .icon-touzhu {
  background: url("../assets/images/touzhu-active.png") no-repeat center center;
}
.icon-revise {
  background: url("../assets/images/revise.png") no-repeat center center;
}
.is-active .icon-revise {
  background: url("../assets/images/revise-active.png") no-repeat center center;
}
.icon-bisaitouzhu {
  background: url("../assets/images/bisaitouzhu.png") no-repeat center center;
}
.is-active .icon-bisaitouzhu {
  background: url("../assets/images/bisaitouzhu-active.png") no-repeat center
    center;
}
.logout {
  width: 100%;
  line-height: 66px;
  background-color: #fafafa;
  text-align: center;
  color: #333;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  cursor: pointer;
  img {
    vertical-align: middle;
    margin-right: 10px;
  }
}
</style>