<template>
    <el-footer style="height:266px;">
        <div class="top">
            <a href="#">Responsible Gambling +</a>|
            <a href="#">About Caibao +</a>|
            <a href="#">Help</a>|
            <a href="#">Affiliates</a>|
            <a href="#">Security</a>|
            <a href="#">Caibao Mobile</a>|
            <a href="#">Developers</a>|
        </div>
        <div class="middle">
            <img src="../../public/images/footer.png"/>
        </div>
        <div class="bottom">
            <div class="links">
                <a href="#">Privacy Policy</a>  |  
                <a href="#">Cookie Policy</a>  |  
                <a href="#">Rules & Regulations</a>  |  
                <a href="#">Terms & Conditions</a>  |  
                <a href="#">Gambling can be addictive, please play responsibly.</a>  |  
                <a href="#">Underage gambling is an offence</a>
            </div>
            <div class="logo"></div>
        </div>
    </el-footer>    
</template>
<script>
export default {
    
}
</script>
<style lang="less" scoped>
    .el-footer{
        position: relative;
        width: 100%;
        height: 266px;
        padding: 0;
        text-align: center;
        a{
            color: #FFF;
            margin: 0 12px;
            transition: color .2s linear
        }
        a:hover{
            color: #AAA;
        }
        .top{
            width: 100%;
            height: 50px;
            background-color: #1e1e1e;
            font-size: 12px;
            color: #FFF;
            line-height: 50px;
        }
        .middle{
            width: 100%;
            height: 65px;
            border-bottom: dashed 1px #CCC;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .bottom{
            width: 100%;
            height: 151px;
            color:#FFF;
            div.links{
                margin-top:25px;
            }
            div.logo{
                width:113px;
                height:43px;
                margin:30px auto 0 auto;
                background-image:url('../assets/images/cai-bao.png');
                background-size:contain;
            }
        }
    }
</style>
