<template>
  <div style="height:124px;background-color:#1e1e1e;">
    <el-header style="height:88px;">
      <div class="logo" @click.prevent="$router.replace('/')">
        <img style="width:157px;height:60px" src="@/assets/images/cai-bao.png" alt="logo">
        <span></span>
      </div>
      <div class="user" v-if="!$store.state.hasLogin">
        <input type="text" v-model="account" placeholder="请输入账号">
        <input type="password" v-model="password" @keyup.enter="login" placeholder="请输入密码">
        <a class="login-btn" @click.prevent="login">登陆</a>
        <span class="line">|</span>
        <router-link class="register" to="/register">注册</router-link>
        <span class="line">|</span>
        <router-link class="forgetPsw" to="/forgetPsw">忘记密码?</router-link>
      </div>
      <div class="login" v-else>
        <!-- <img src="../assets/images/jinbi.png" alt>
        <span class="money">{{$store.state.amount}}</span> -->
        <p style="display:inline" >
          <!-- <router-link v-show="!$store.state.showAside" class="bet" to="/matchBet">立即投注</router-link>
          <span v-show="!$store.state.showAside" class="line">|</span> -->
          <a class="logout" @click.prevent="logout">退出登陆</a>
        </p>
      </div>
    </el-header>
    <div class="nav">
      <ul class="nav_list">
        <li v-for="route in routes" :key="route.path" :class="`${path === route.path?'active':''}`"><router-link :to="route.path">{{route.text}}</router-link></li>
      </ul>
    </div>
  </div>
</template>

<script>
import md5 from "js-md5";
export default {
  name: "fbd-header",
  data() {
    return {
      account: "",
      password: "",
      routes:[{
        path:'/',
        text:'首页'
      },{
        path:'/matchBet',
        text:'比赛投注'
      },{
        path:'/recharge?type=1',
        text:"充值"
      },{
        path:'/recharge?type=2',
        text:"提现"
      },{
        path:"/betOrder",
        text:"我的投注单"
      },{
        path:"/matchResult",
        text:"比赛结果"
      }]
    };
  },
  mounted() {
    if (localStorage.getItem("fbd_usr_token")) {
      this.$store.commit("setLogin", true);
    }
    this.$store.dispatch("updateAmount")
  },
  computed:{
    path(){
      return this.$route.fullPath
    }
  },
  methods: {
    login() {
      if (!this.account) {
        this.$message({
          message: "请输入账号",
          type: "error"
        });
        return;
      }
      if (!this.password) {
        this.$message({
          message: "请输入密码",
          type: "error"
        });
        return;
      }
      let params = {
        account: this.account,
        password: md5(this.password)
      };
      this.$http.get(this.$api.login, params).then(res => {
        this.$message({
          message: "登陆成功",
          type: "success"
        });
        if (this.$route.path !== "/" && this.$route.path !== "/register") {
          this.$store.commit("setAside", true);
        }
        if(this.$route.path == "/register"){
          this.$router.push('/');
        }
        this.$store.commit("setLogin", true);
        this.$store.commit("getAccount", this.account);
        localStorage.setItem("fbd_usr_token", res.token);
        localStorage.setItem("fbd_usr_ccount", this.account);
        //登陆成功后跳转到下注页
        this.$router.push({path:"/matchBet"})
      }).finally(() =>{

        this.$store.dispatch("updateAmount")
      });
    },
    logout() {
      this.$confirm("是否退出登录", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          // this.$http.get(this.$api.logout, {  }).then(() => {
          //   this.$message({
          //     type: "success",
          //     message: "登出成功!"
          //   });
          // });
            this.account = "";
            this.password = "";
            this.$store.commit("setLogin", false);
            localStorage.removeItem("fbd_usr_token");
            localStorage.removeItem("fbd_usr_ccount");
            this.$router.replace("/");
        })
        .catch(() => {});
    }
  }
};
</script>

<style lang='less' scoped>
.el-header {
  width: 1180px;
  height: 88px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border-bottom: 1px solid #e6e6e6;
}
.nav{
  width: 100%;
  height: 36px;
  background-color: #FFB80C;
  ul.nav_list{
    width: 1180px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li{
      height: 100%;
      transition: background-color .3s linear;
      cursor: pointer;
      a{
        color:#1e1e1e;
        transition: color .3s linear;

      };
      line-height: 36px;
      font-size: 16px;
      padding: 0 20px;
      &.active{
        background-color:#1e1e1e;
        a{color:#FFF};
      }
      &:hover{
        background-color:#1e1e1e;
        a{color:#FFF};
      }
    }
  }
}
.logo {
  font-size: 16px;
  color: #fff;
  img {
    height: 35px;
    vertical-align: middle;
  }
  span {
    margin-left: 10px;
  }
}
.user {
  input {
    width: 120px;
    line-height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-right: 10px;
    padding-left: 10px;
    background-color: #FFF !important;
  }
  .login-btn{
    // color: #FFB80C

    display: inline-block;
    width: 30px;
    height: 20px;
    background-color: #FFB80C;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
  }
  .forgetPsw {
    color: #999;
  }
  .register {
    color: #57CAFF;

    display: inline-block;
    width: 30px;
    height: 20px;
    background-color: #FFB80C;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
  }
  .line {
    padding: 0 10px;
    color: #fff;
  }
}
.login {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
  .money {
    font-size: 14px;
    color: #fffe89;
    margin-right: 25px;
  }
  .bet {
    color: #fff;
  }
  .line {
    padding: 0 12px;
    color: #ffd5a0;
  }
  .logout {
    color: #FFF;

    display: inline-block;
    width: 60px;
    height: 20px;
    background-color: #FFB80C;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
  }
}
</style>